@font-face {
  font-family: "iconfont"; /* Project id 1763744 */
  src: url('iconfont.woff2?t=1710243938525') format('woff2'),
       url('iconfont.woff?t=1710243938525') format('woff'),
       url('iconfont.ttf?t=1710243938525') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmobilefill:before {
  content: "\e705";
}

.iconwww:before {
  content: "\e642";
}

.iconemail:before {
  content: "\e7e3";
}

.icontwitter:before {
  content: "\e872";
}

.iconinstagram:before {
  content: "\e87f";
}

.icongithub:before {
  content: "\e811";
}

.iconLinkedinlogo:before {
  content: "\e6b6";
}

